footer{
    width: 100%;
    height: fit-content;
    padding: 30px 60px;
    overflow-y: hidden;
    border-top: 1px solid rgb(128, 128, 128, 0.2);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    padding-bottom: 30px;
}

.left-section {
    max-width: 50%;
    flex-basis: 50%;
}

.eduFoot h3{
    font-family: 'Francois One', sans-serif;
    color: #ACD653;
    letter-spacing: 1px;
}

.left-section h2{
    color: white;
    font-size: 27px;
}

.right-section {
    max-width: 40%;
    /* flex-basis: 40%; */
}

.right-section h3{
    font-size: 27px;
    color: #ACD653;
    font-family: 'Francois One', sans-serif;

}

.right-section p{
    color: rgb(250, 250, 250, 0.9);
    font-size: 14px;
    cursor: pointer;
    font-family: 'Francois One', sans-serif;

}

h2, h3 {
    margin-bottom: 10px;
}

.social-links{
    padding-top: 15px;
}

.social-links a {
    display: block;
    margin-bottom: 5px;
    color: rgb(250, 250, 250, 0.9);
    text-decoration: none;
    font-size: 14px;
    font-family: 'Francois One', sans-serif;
}

.social-links a:hover {
    text-decoration: underline;
}

.develop{
    width: 100%;
    border-top: 1px solid rgb(128, 128, 128, 0.2);
    text-align: center;
}

.develop a{
    color: rgb(250, 250, 250, 0.9);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-top: 17px;
}


@media screen and (max-width: 768px) {
    footer{
        height: fit-content;
    }

    .footer-container {
        flex-direction: column;
    }

    .left-section, .right-section {
        max-width: 100%;
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 550px) {
    footer{
        height: fit-content;
        padding: 40px 30px;
    }
    
}
